<div class="content">
  <section class="picture"></section>
  <section class="about">
    <div class="name">Sahar
      <br>
      Heidarpour
    </div>
    <p class="description">
      Creative and self-starting Front-End Developer with 5 years experience, building large scale projects such as ERP
      and B2B in fast-paced and high quality.
      Highly skilled in HTML/CSS/JavaScript/React, Angular, Typescript, Sass, and Styled Component.
    </p>
    <div class="contact-info">
      <div class="col"><span class="icon material-icons">email</span><span class="val">sahar.heidarpour992@gmail.com</span></div>
      <div class="col"><span class="icon material-icons">phone</span><span class="val">+989222663606</span></div>
    </div>
  </section>
</div>
