/* You can add global styles to this file, and also import other style files */
@import "assets/styles/theme";
@import "assets/styles/material-icons";

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('assets/fonts/nunito/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/nunito/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/nunito/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/nunito/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/nunito/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/nunito/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito" ;
  background-color: var(--background-default);
}
@media print{
.layout{
  height: 100% !important;
  padding-top:0  !important;
}
  nav{
    display: none;
  }

}
