@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/outlined.eot); /* For IE6-8 */
  src: local('Material Icons Outlined'),
  local('MaterialIcons-Outlined'),
  url(../fonts/material-icons/outlined.woff2) format('woff2'),
  url(../fonts/material-icons/outlined.woff) format('woff'),
  url(../fonts/material-icons/outlined.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/round.eot); /* For IE6-8 */
  src: local('Material Icons Round'),
  local('MaterialIcons-Round'),
  url(../fonts/material-icons/round.woff2) format('woff2'),
  url(../fonts/material-icons/round.woff) format('woff'),
  url(../fonts/material-icons/round.ttf) format('truetype');
}

//@font-face {
//  font-family: 'Material Icons Sharp';
//  font-style: normal;
//  font-weight: 400;
//  src: url(assets/fonts/material-icons/sharp.eot); /* For IE6-8 */
//  src: local('Material Icons Sharp'),
//  local('MaterialIcons-Sharp'),
//  url(assets/fonts/material-icons/sharp.woff2) format('woff2'),
//  url(assets/fonts/material-icons/sharp.woff) format('woff'),
//  url(assets/fonts/material-icons/sharp.ttf) format('truetype');
//}
//
//@font-face {
//  font-family: 'Material Icons Two Tone';
//  font-style: normal;
//  font-weight: 400;
//  src: url(assets/fonts/material-icons/two-tone.eot); /* For IE6-8 */
//  src: local('Material Icons Two Tone'),
//  local('MaterialIcons-Two-Tone'),
//  url(assets/fonts/material-icons/two-tone.woff2) format('woff2'),
//  url(assets/fonts/material-icons/two-tone.woff) format('woff'),
//  url(assets/fonts/material-icons/two-tone.ttf) format('truetype');
//}

.material-icons,
.material-icons-outlined,
.material-icons.material-icons--outlined,
.material-icons-two-tone,
.material-icons.material-icons--two-tone,
.material-icons-round,
.material-icons.material-icons--round,
.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined,
.material-icons.material-icons--outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons-round,.material-icons,
.material-icons.material-icons--round {
  font-family: 'Material Icons Round';
}

//.material-icons-two-tone,
//.material-icons.material-icons--two-tone {
//  font-family: 'Material Icons Two Tone';
//}
//
//.material-icons-sharp,
//.material-icons.material-icons--sharp {
//  font-family: 'Material Icons Sharp';
//}
