// theme varibales
:root {
  // backgrounds
  --background-default: #1e2235;
  --background-secondary: #fe4958;
  --backgroud-senary: #23273a;
  --background-light: #fff;

  // text:
  --text-default: #222;
  --text-light: #e5e5e5;
  --text-secondary: #fe4958;

  // border
  --border-default: #e0e1e2;
  --border-secondary: #fe4958;

  // resume-colors

  --purple-theme: #bf1363;
  --green-theme: #1eae98;
  --yellow-theme: #f7ea00;
  --orange-theme: #ff7a00;
  --blue-theme: #78c4d4;
  --gray-theme: #b2b8a3;
  --red-theme: #fa1e0e;
  --white-theme: #ffffff;

}
