// theme varibales
:root {
  // backgrounds
  --background-default: #ffffff;
  --background-secondary: #000000;
  --backgroud-senary: #fca311;
  --background-light: #e5e5e5;

  // text:
  --text-default: #222;
  --text-light: #e5e5e5;
  --text-secondary: #14213d;

  // border
  --border-default: #e0e1e2;
}
